<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="ISO-8859-1">
<title>Posts</title>
</head>
<body>
	<div align="center">
		<h1 th:text = "${category.name} + ' posts'"></h1>
		
		<h1 th:each="post : ${posts}">
			<span th:text = "${post.name}"></span>
			<form th:action="@{'/categories/' + ${category.id} + '/posts/' +${post.id} +'/edit'}" method="get">
				<button type="submit">Edit</button>
			</form>
			<form th:action="@{'/categories/' + ${category.id} + '/posts/' +${post.id} }" method="post">
				<button type="submit">Delete</button>
			</form>
		</h1>
		
		<a th:href="@{'/categories/' + ${category.id} + '/posts/new'}">Create New Post</a>
		
	</div>
</body>
</html>